<div class="wrapper">
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
      <a class="nav-link" routerLink="/">Home</a> |
      <a class="nav-link" routerLink="/add-user">Add User</a> |
      <a class="nav-link" routerLink="/users">Users</a> |
      <a class="nav-link" routerLink="/products">Products</a> |
      <a class="nav-link" routerLink="/about">About</a> 
    </ul>
  </nav>

  <div class="content-wrapper p-4">
    <router-outlet></router-outlet>
  </div>
</div>
